.contactWrapp {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.name {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  flex-direction: column;
  border: 1px grey dotted;
  padding: 10px;
  border-radius: 5%;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
